/* 중간 크기 이상 ~ pc */
@media (min-width: 1030px) {
  #gnb {
    /* display: inline!important; */
    display: block !important;
  }
  #btn-toggle {
    display: none;
  }
}
@media (max-width: 1570px) {
  .video_box{
    bottom: 25%;
    margin-right: 50%;
  }
}
@media (max-width: 1025px) {
  
  /* video */
  .video_box{
    display: none;
  }
}

/* 작은 크기, 모바일(~테블릿) */
@media (max-width: 1024px) {
  header .logo_txt {
    font-size: 0.8em!important;
    position: relative;
  }
  .fa-search ,
  .fa-shopping-bag {
    display: none;
  }
  .fa-user {
    font-size: 1.5em;
    position: relative;
    /* right: 50px; */
  }
  .mh1 {
    text-align: left;
  }
  #gnb {
    display: none;
    /* border: 1px solid blue; */
    /* background: rgba(255, 255, 255, 0.7); */
    background: rgba(146, 63, 255, 0.6);
    position: absolute;
    margin-top: 50px;
    right: 10px;
    padding: 10px;
  }
  #gnb li {
    /* border: 1px solid blue; */
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #gnb li a:hover {
    /* color: rgb(0, 104, 173); */
    border-bottom: 2px solid rgb(0, 104, 173);
    border-bottom: 2px solid rgb(0, 255, 0);
  }
  #btn-toggle {
    /* border: 1px solid blue; */
    /* display: inline; */
    display: block;
    right: 20px;
    top: 20px;
    text-align: right;
  }

  /* shop */
  .shop-contents_a ul {
    position: relative;
    margin-left: 0;
    bottom: 20px;
  }
  .shop-contents_a li {
    /* border: 1px solid blue; */
    padding-left: 20px;
  }
  .shop-c_a_li_db {
    /* border: 1px solid blue; */
    display: block;
    margin-top: 40px;
  }
  .shop-contents_b li {
    width: 50%;
  }

  /* product_1 */
  #product_1 {
    padding: 20px;
  }
  .product_1-txt {
    padding: 30px;
  }
  .product_1-btn1 {
    padding: 0;
    padding: 15px 26px;
  }
  .product_1-btn2 {
    padding: 0;
    padding: 15px 8px;
  }
  .product_1-center_txt{
    padding: 30px;
  }
  #product_1-sub_brand > div{
    padding: 20px;
  }

  /* blog */
  .blog-contents .blog-i1, .blog-i2, .blog-i3{
  }
  .blog-contents li{  
    padding-left: 30px!important;
    padding-right: 30px!important;
  }

  /* map */
  .contact-contents li{
    padding: 25px;
  }
  .contact-contents .map720{
    left: 0;
  }
  .contact_input-div{
    right: 0;
  }
  iframe{
    height: 400px;
  }

  /* video */
  .main-visual_bg video{
    margin-top: 80px;
    height: 570px;
  }
  .video_2 video{
    height: 570px;
  }
}

@media (max-width: 769px) {
  .main-visual_bg video{
    height: 420px;
  }
  .video_2 video{
    height: 420px;
  }
}
@media (max-width: 767px) {
  header .logo_txt {
    font-size: 0.6em!important;
  }
  .shop-contents_a li {
    /* border: 1px solid green; */
    display: inline;
  }
  .logo_txt{
    left: 0;
    right: 0;
  }

  /* video */
  .main-visual_bg video{
    margin-top: 75px;
    height: 225px;
  }
  .video_2 video{
    height: 225px;
  }
  .contents_p {
    margin-top: 30px;
  }

  /* contents_images */
  .contents_images_group li{
    width: 25%;
  }
}

@media (max-width: 420px) {
  .logo_txt {
    right: 35px;
  }
}

@media (max-width: 376px) {
  .shop-contents_a ul {
    margin-left: -15px;
  }
  .shop-contents_a li {
    font-size: 0.9em;
  }

  /* video */
  .main-visual_bg video{
    /* margin-top: 75px; */
    height: 200px;
  }
  .video_2 video{
    height: 200px;
  }
}

@media (max-width: 321px) {
  /* video */
  .main-visual_bg video{
    /* margin-top: 75px; */
    height: 175px;
  }
  .video_2 video{
    height: 175px;
  }
}
